body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    border: 0px;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:#Daa520;
    width: 30vw;
    height: 50vh;
    padding: 5px;
    max-width: 25%;
    border-radius: 15px;
    box-shadow: 5px;
    border: 5px black solid;
    margin-top: 8px;
}
.title{
    color: black;
   font-size: x-large;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    font-size: larger;  
}

input{
    padding: 5px 10px;
    border-radius: 10px;
}
.result{
    display: flex;
    flex-direction: column;
    border: 3px black solid;
    border-radius: 10px;
    width: 95%;
    height: 20%;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
    background-color: white;
    font-weight: bolder;
    font-size: larger;
}

button{
    border-radius: 5px;
    align-items: center;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: darkred;
    color: #D3D3D3;
}

.footer{
    background-color: #D3D3D3;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}